.progressbar {
  font-size: 17px;
  width: 200px;
  font-weight: 400;
  text-align: center;
  height: 100px;
}
a {
  color:black;
  font-weight: 200;
}
.listWish {
  list-style: none;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:20px;
}
.button {
  margin:0;
}
.bron {
  font-size: 20px;
  font-weight: 800;
  color:rgb(55, 97, 74);
}

