.progressbar {
  font-size: 17px;
  width: 300px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  margin-left: 20px;
}
a {
  color:black;
  font-weight: 200;
}
.listWish {
  list-style: none;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  margin: 10px;
}
.bron {
  font-size: 25px;
  font-weight: 800;
  color:rgb(55, 97, 74);
  margin-right: 50px;
}
