.wish {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
  background: linear-gradient(
    36deg,
    rgba(38, 153, 154, 1) 0%,
    rgb(102, 154, 154) 30%,
    rgb(211, 198, 103) 58%,
    rgba(212, 178, 40, 1) 91%,
    rgba(222, 204, 81, 1) 100%
  );
  animation: gradient;
  margin: 5px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  animation: show 0.4s;
}

img {
  width: 240px;
  height: 160px;
  margin-top: 4px;
  border-radius: 10px;
}

.wish_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }


