html,
body {
  /* background-image: url('./bird-g3977d05a9_1920.jpg');
  background-size: 90% 100%;
  background-repeat:no-repeat;
  background-position: center; 
  background-color: black;*/
  position: relative;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #7F8C8D;*/
  height: 100%; 
  background: rgb(38,153,154);
  background: linear-gradient(36deg, rgba(38,153,154,1) 0%, rgba(102,154,119,1) 30%, rgba(168,161,106,1) 58%, rgba(212,178,40,1) 91%, rgba(222,204,81,1) 100%);
  animation: gradient 15s infinite linear;
  background-size: 400%; 
}

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}
.transitions-enter {
  opacity: 0;
}
.transitions-enter-active {
  opacity: 0.7;
  transition: opacity 200ms;
}

.transitions-exit {
  opacity: 0.7;
}
.transitions-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

#large-header {
  top: 0;
  right: 0;
  z-index: -100;
  position: absolute;
}
canvas {
  top: 100px;
  right: 0;
  position: absolute;
}
.container-glass {
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.2) !important;
  width: 80%;
  -webkit-box-shadow: -4px 4px 51px 10px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: -4px 4px 51px 10px rgba(34, 60, 80, 0.24);
  box-shadow: -4px 4px 51px 10px rgba(34, 60, 80, 0.24);
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
.container-info {
  background-color: rgba(154, 205, 50, 0.9);
  padding: 10px;
}
