.user_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: center;
  width: 20%;
  height: 400px;
}

.user_info_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_pic {
  width: 150px;
  border-radius: 50%;
}

.wish_buttons {
  display: flex;
  justify-content: space-between;
}

.persbtn {
  margin: 10px;
}

/* button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(77, 190, 255);
} */

.lkdiv {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 80%;
}
.contnav{
padding: 0px;
}
