.header {
  color: rgb(99, 59, 33);
  font-weight: 600;
  text-align: center;
}
.modal_content {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(142, 189, 167, 0.753);
  height: auto;
  width: auto;
}
.select {
  height: 50px;
}
