.present-box {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  margin:10px;
  border: 2px solid bisque;
  border-radius: 5%;
  padding: 10px;
}
.deletebtn {
  right:5px;
  top:5px;
  color:red;
  position: absolute;
  cursor: pointer;
  transition:all .4s;
}
.deletebtn:hover {
  transform: rotate(180deg);
}
