.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid (40, 78%, 82%);
  border-radius: 30px;
}

.wrapper {
  display: flex;
  justify-content: row;
  list-style: none;
  align-items: center;
  padding: 20px;
  max-width: 80%;
}

.wrapper a {
  text-decoration: none;
}
.navbtn {
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #A19F7A;
  font-size: 30px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 20px;
  padding-top: 5px;
}

.navbtn div {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: 500ms;
}

.navbtn:hover {
  background: rgb(32, 42, 32);
  /* background: transparent; */
}
.active .navbtn {
  background: rgb(32, 42, 32);
}

.navbtn:hover div {
  height: 50px;
  width: 100%;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #F5DEAF;
}

.active .navbtn div {
  height: 50px;
  width: 100%;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #F5DEAF;
}

.logo {
  margin-left: 15%;
  margin-bottom: 20px;
}
