nav {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative !important;
}
.link {
  padding: 10px;
  text-decoration: none;
}
nav a {
  color: rgba(0, 0, 0, 0.55);
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}
